{% extends "base.html" %}

{% block content %}

    <h1 class="banner">Yes! This is my first Flask page!</h1>
    <div class="image-text">
        <img id="flask-logo" src="https://www.kindpng.com/picc/m/188-1882559_python-flask-hd-png-download.png">
        <p>This page is the home!!! As you can see by the image to the left, this was developed using Flask.</p>
        <p> Want to meet the brain behind this <em>WONDERFUL</em> website? <a href="/contact">Contact me!</a></p> 
    </div>
     

{% endblock %}