body {
    width: 50%;
    height: 100vh;
    margin: auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

h1{
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 4.236rem;
    letter-spacing: 0.4rem;
    text-align: center;
    margin: 2.618rem 0;
    width: 100%;
}

main{
    text-align: center;
    width: 100%;
}

main p{
  font-family: 'Pontano Sans', sans-serif;
  margin: 1rem;
  color: white;
  font-size: 1.618rem;
}

#color{
    width: 61.8%;
    font-size: 1rem;
    padding: 0.618rem;
    margin-bottom: 1rem;
}

.center-div{
    margin: auto;
}

.button{
    font-family: 'Pontano Sans', sans-serif;
    color: white;
    padding: 0.618rem;
    color: black;
    border: 2px solid #555555;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 200px;
    width:  200px;
}

.button:hover {
    background-color: #555555 !important;
    color: white;
    opacity: 1;
  }

  .button:hover span::after{
    content: "Again?";
    font-size: 1.62rem;
    transition-duration: 1s;
    color:white;
  }

footer {
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    color: white;
}

footer a:link{
  text-decoration: none;
  color: white;
}

footer a:visited{
  color: white;
}

footer a:hover{
  text-decoration: underline;
  color: white;
}

@media(max-width: 1200px){
  body {
    width: 80%;
}

@media(max-width: 800px){
  body {
    width: 100%;
}